<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kotlin.android.js.sdk">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <activity
            android:name="com.kotlin.android.qb.H5Activity"
            android:screenOrientation="fullSensor" />
    </application>
</manifest>