<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kotlin.android.article.component">

    <application android:theme="@style/AppTheme">
        <activity
            android:name=".item.ui.detail.ArticleDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoFitsSystemWindows"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
    </application>

</manifest>